<div class="feed-review-header">
  <h4><%= review.escape('username') %> reviewed
      <%= review.escape('book_title') %></h4>
</div>
<div class="feed-book-image">
  <a href="#/books/<%= review.escape('book_id') %>">
    <img src="<%= review.escape('cover_image_url') %>"
         alt="Book Cover"
         height="97"
         width="64">
 </a>
</div>
<div class="feed-review-info">
  <h4>Rating: <%= review.escape('rating') %> of 5</h4>
  <% var date = new Date(review.escape('updated_at')) %>
  <%= date.toDateString() %>
</div>
<h4><%= review.escape('title') %></h4>
<blockquote class="feed-review-content">
  <%= review.escape('body') %>
</blockquote>
<br>
