<h1><%= title %></h1>

<% bookShelfBooks.each(function(book) { %>
  <ul class="clear shelf-book-info-container">
      <li class="shelf-image">
        <a href="#/books/<%= book.id %>">
          <img src="<%= book.escape('cover_image_url') %>"
             alt="Book Cover"
             height="97"
             width="64">
         </a>
     </li>
      <li class="shelf-book-info"><%= book.escape('title') %></li>
      <li class="shelf-book-info">by <%= book.escape('author') %></li>
      <li class="shelf-book-info"><%= book.escape('number_of_pages') %> Pages</li>
      <li class="shelf-book-info">Avg Rating: <%= book.escape('average_rating') %> of 5</li>
      <li class="shelf-book-info remove-book"
          data-id="<%= book.id %>"
          data-shelf="">X</li>
  </ul>
<% }) %>
