<h1><%= title %></h1>

  <% bookShelfBooks.each(function(book) { %>
  <ul class="clear shelf-book-info-container">
      <li class="shelf-image"><img src="<%= book.escape('cover_image_url') %>"
           alt="Book Cover"
           height="97"
           width="64">
     </li>
      <li class="shelf-book-info"><%= book.escape('title') %></li>
      <li class="shelf-book-info">by <%= book.escape('author') %></li>
      <li class="shelf-book-info"><%= book.escape('number_of_pages') %> Pages</li>
  </ul>
  <% }) %>
