<!DOCTYPE html>
<html>
<head>
  <title>ShouldReads</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.GOOGLE_API_KEY = "<%= ENV['google_api_key'] %>"
  </script>

  <script>
    $(window).load(function() {
      $("#joyRideTipContent").joyride({
        autoStart : true,
            postStepCallback : function (index, tip) {
            if (index == 2) {
              $(this).joyride('set_li', false, 1);
            }
          },
        modal:true,
        expose: true
      });
    });
  </script>

</head>
<body>

<%= yield %>

<% if signed_in? %>
  <script type="text/javascript">
    window.CURRENT_USER_ID="<%= current_user.id %>"
  </script>
<% end %>

</body>
</html>
