<!DOCTYPE html>
<html>
<head>
  <title>ShouldReads</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= flash_errors %>

<%= yield %>

<% if signed_in? %>
  <script type="text/javascript">
    window.CURRENT_USER_NAME="<%= current_user.username %>"
  </script>
<% end %>

</body>
</html>
